body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  padding: 1em;
  color: white;
}

header nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
}

footer {
  background-color: #333;
  padding: 1em;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 2em;
}
